p {
  font-family: "times New ROman", sans-serif;
  font-weight: normal;
  /* font-style: italic;
  font-size: 15px; */
  font-family: 'Sono', sans-serif;
  /* font-variant: small-caps; */
  /* font-stretch: condensed; */
  /* letter-spacing: 4px; */
  /* word-spacing: 20px; */
  /* line-height: 1.6; */
  /* text-transform: uppercase; */ /* capitalize | lowercase | none */
  /* text-decoration: underline red; */ /* overline, line-through */
  /* text-align: center; */
  /* text-shadow:1px 1px 8px red; */
  /* font: italic normal bold normal 3em/1.5 Helvetica, Arial, sans-serif; */
}

